In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import itertools

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv("GroceryStoreDataSet.csv",names=['products'])
df

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [3]:
df.shape

(20, 1)

In [4]:
data = list(df["products"].apply(lambda x:x.split(',')))
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_).astype(int)

df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [5]:
# Find Frequency of Items
df.sum()

BISCUIT        7
BOURNVITA      4
BREAD         13
COCK           3
COFFEE         8
CORNFLAKES     6
JAM            2
MAGGI          5
MILK           5
SUGER          6
TEA            7
dtype: int64

In [6]:
# Product Frequency / Total Sales
first = pd.DataFrame(df.sum() / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
first

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20
COCK           0.15
JAM            0.10

In [7]:
# Elimination by Support Value
first[first.Support >= 0.15]

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20
COCK           0.15

In [8]:
second = list(itertools.combinations(first.index, 2))
second = [list(i) for i in second]
# Sample of combinations
second[:10]

[['BREAD', 'COFFEE'],
 ['BREAD', 'BISCUIT'],
 ['BREAD', 'TEA'],
 ['BREAD', 'CORNFLAKES'],
 ['BREAD', 'SUGER'],
 ['BREAD', 'MAGGI'],
 ['BREAD', 'MILK'],
 ['BREAD', 'BOURNVITA'],
 ['BREAD', 'COCK'],
 ['BREAD', 'JAM']]

In [9]:
# Finding support values
value = []
for i in range(0, len(second)):
    temp = df.T.loc[second[i]].sum() 
    temp = len(temp[temp == df.T.loc[second[i]].shape[0]]) / df.shape[0]
    value.append(temp)
# Create a data frame            
secondIteration = pd.DataFrame(value, columns = ["Support"])
secondIteration["index"] = [tuple(i) for i in second]
secondIteration['length'] = secondIteration['index'].apply(lambda x:len(x))
secondIteration = secondIteration.set_index("index").sort_values("Support", ascending = False)
# Elimination by Support Value
secondIteration = secondIteration[secondIteration.Support > 0.1]
secondIteration

                       Support  length
index
(TEA, MAGGI)              0.20       2
(BREAD, TEA)              0.20       2
(BREAD, SUGER)            0.20       2
(BREAD, MILK)             0.20       2
(BREAD, BISCUIT)          0.20       2
(COFFEE, CORNFLAKES)      0.20       2
(COFFEE, SUGER)           0.20       2
(BREAD, COFFEE)           0.15       2
(BREAD, MAGGI)            0.15       2
(BREAD, BOURNVITA)        0.15       2
(COFFEE, COCK)            0.15       2
(BISCUIT, CORNFLAKES)     0.15       2

In [10]:
def ar_iterations(data, num_iter = 1, support_value = 0.1, iterationIndex = None):
    
    # Next Iterations
    def ar_calculation(iterationIndex = iterationIndex): 
        # Calculation of support value
        value = []
        for i in range(0, len(iterationIndex)):
            result = data.T.loc[iterationIndex[i]].sum() 
            result = len(result[result == data.T.loc[iterationIndex[i]].shape[0]]) / data.shape[0]
            value.append(result)
        # Bind results
        result = pd.DataFrame(value, columns = ["Support"])
        result["index"] = [tuple(i) for i in iterationIndex]
        result['length'] = result['index'].apply(lambda x:len(x))
        result = result.set_index("index").sort_values("Support", ascending = False)
        # Elimination by Support Value
        result = result[result.Support > support_value]
        return result    
    
    # First Iteration
    first = pd.DataFrame(df.T.sum(axis = 1) / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
    first = first[first.Support > support_value]
    first["length"] = 1
    
    if num_iter == 1:
        res = first.copy()
        
    # Second Iteration
    elif num_iter == 2:
        
        second = list(itertools.combinations(first.index, 2))
        second = [list(i) for i in second]
        res = ar_calculation(second)
        
    # All Iterations > 2
    else:
        nth = list(itertools.combinations(set(list(itertools.chain(*iterationIndex))), num_iter))
        nth = [list(i) for i in nth]
        res = ar_calculation(nth)
    
    return res

In [11]:
iteration1 = ar_iterations(df, num_iter=1, support_value=0.1)
iteration1

            Support  length
BREAD          0.65       1
COFFEE         0.40       1
BISCUIT        0.35       1
TEA            0.35       1
CORNFLAKES     0.30       1
SUGER          0.30       1
MAGGI          0.25       1
MILK           0.25       1
BOURNVITA      0.20       1
COCK           0.15       1

In [12]:
iteration2 = ar_iterations(df, num_iter=2, support_value=0.1)
iteration2

                       Support  length
index
(COFFEE, CORNFLAKES)      0.20       2
(BREAD, TEA)              0.20       2
(TEA, MAGGI)              0.20       2
(BREAD, SUGER)            0.20       2
(BREAD, BISCUIT)          0.20       2
(BREAD, MILK)             0.20       2
(COFFEE, SUGER)           0.20       2
(BREAD, COFFEE)           0.15       2
(COFFEE, COCK)            0.15       2
(BISCUIT, CORNFLAKES)     0.15       2
(BREAD, BOURNVITA)        0.15       2
(BREAD, MAGGI)            0.15       2

In [13]:
iteration3 = ar_iterations(df, num_iter=3, support_value=0.01,
              iterationIndex=iteration2.index)
iteration3

                               Support  length
index
(CORNFLAKES, COCK, BISCUIT)       0.10       3
(COFFEE, BREAD, SUGER)            0.10       3
(COFFEE, COCK, BISCUIT)           0.10       3
(COFFEE, CORNFLAKES, BISCUIT)     0.10       3
(TEA, MAGGI, BISCUIT)             0.10       3
(COFFEE, CORNFLAKES, COCK)        0.10       3
(TEA, BREAD, MAGGI)               0.10       3
(MILK, BREAD, BISCUIT)            0.10       3
(TEA, BOURNVITA, BREAD)           0.10       3
(TEA, COFFEE, MILK)               0.05       3
(BOURNVITA, COFFEE, SUGER)        0.05       3
(MILK, BREAD, CORNFLAKES)         0.05       3
(MILK, BREAD, MAGGI)              0.05       3
(COFFEE, MILK, CORNFLAKES)        0.05       3
(MILK, CORNFLAKES, BISCUIT)       0.05       3
(TEA, MAGGI, CORNFLAKES)          0.05       3
(TEA, BREAD, BISCUIT)             0.05       3
(BREAD, MAGGI, BISCUIT)           0.05       3
(COFFEE, SUGER, CORNFLAKES)       0.05       3
(BOURNVITA, BREAD, SUGER)         0.05       3
(TEA, MILK, CORNFLAKES)           0.05       3
(BREAD, SUGER, BISCUIT)           0.05       3
(COFFEE, BREAD, COCK)             0.05       3
(BREAD, CORNFLAKES, BISCUIT)      0.05       3
(TEA, COFFEE, CORNFLAKES)         0.05       3

In [14]:
iteration4 = ar_iterations(df, num_iter=4, support_value=0.01,
              iterationIndex=iteration3.index)
iteration4

                                     Support  length
index
(COFFEE, CORNFLAKES, COCK, BISCUIT)     0.10       4
(MILK, BREAD, CORNFLAKES, BISCUIT)      0.05       4
(TEA, COFFEE, MILK, CORNFLAKES)         0.05       4
(TEA, BREAD, MAGGI, BISCUIT)            0.05       4

In [15]:
# Apriori
freq_items = apriori(df, min_support = 0.1, use_colnames = True, verbose = 1)
freq_items.sort_values("support", ascending = False)

Processing 108 combinations | Sampling itemset size 4

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                             itemsets
2      0.65                              (BREAD)
4      0.40                             (COFFEE)
0      0.35                            (BISCUIT)
10     0.35                                (TEA)
5      0.30                         (CORNFLAKES)
9      0.30                              (SUGER)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
30     0.20                      (SUGER, COFFEE)
34     0.20                         (TEA, MAGGI)
11     0.20                     (BISCUIT, BREAD)
29     0.20                 (CORNFLAKES, COFFEE)
26     0.20                         (TEA, BREAD)
25     0.20                       (SUGER, BREAD)
24     0.20                        (MILK, BREAD)
1      0.20                          (BOURNVITA)
21     0.15                      (COFFEE, BREAD)
27     0.15                       (COFFEE, COCK)
23     0.15                       (MAGGI, BREAD)
3      0.15                               (COCK)
18     0.15                   (BOURNVITA, BREAD)
14     0.15                (BISCUIT, CORNFLAKES)
19     0.10                   (BOURNVITA, SUGER)
44     0.10           (CORNFLAKES, COFFEE, COCK)
43     0.10                  (TEA, MAGGI, BREAD)
42     0.10                  (JAM, MAGGI, BREAD)
41     0.10               (SUGER, COFFEE, BREAD)
40     0.10              (BOURNVITA, TEA, BREAD)
39     0.10                (BISCUIT, MAGGI, TEA)
38     0.10        (CORNFLAKES, BISCUIT, COFFEE)
37     0.10          (BISCUIT, CORNFLAKES, COCK)
36     0.10              (BISCUIT, COFFEE, COCK)
35     0.10               (BISCUIT, MILK, BREAD)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (JAM, MAGGI)
20     0.10                     (BOURNVITA, TEA)
31     0.10                   (CORNFLAKES, MILK)
6      0.10                                (JAM)
12     0.10                      (BISCUIT, COCK)
28     0.10                   (CORNFLAKES, COCK)
13     0.10                    (BISCUIT, COFFEE)
15     0.10                     (BISCUIT, MAGGI)
16     0.10                      (BISCUIT, MILK)
17     0.10                       (BISCUIT, TEA)
22     0.10                         (JAM, BREAD)
45     0.10  (CORNFLAKES, BISCUIT, COFFEE, COCK)

In [16]:
freq_items.sort_values("support", ascending = False).head(5)

    support      itemsets
2      0.65       (BREAD)
4      0.40      (COFFEE)
0      0.35     (BISCUIT)
10     0.35         (TEA)
5      0.30  (CORNFLAKES)

In [17]:
freq_items.sort_values("support", ascending = False).tail(5)

    support                             itemsets
15      0.1                     (BISCUIT, MAGGI)
16      0.1                      (BISCUIT, MILK)
17      0.1                       (BISCUIT, TEA)
22      0.1                         (JAM, BREAD)
45      0.1  (CORNFLAKES, BISCUIT, COFFEE, COCK)

In [18]:
# Association Rules & Info
df_ar = association_rules(freq_items, metric = "confidence", min_threshold = 0.5)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667,-0.174603
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000,0.558824
2,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000,0.428571
3,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000,0.166667
4,(BOURNVITA),(SUGER),0.20,0.30,0.10,0.500000,1.666667,0.0400,1.400000,0.500000
...,...,...,...,...,...,...,...,...,...,...
61,"(CORNFLAKES, COCK)","(BISCUIT, COFFEE)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf,1.000000
62,"(BISCUIT, COFFEE)","(CORNFLAKES, COCK)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf,1.000000
63,"(BISCUIT, COCK)","(COFFEE, CORNFLAKES)",0.10,0.20,0.10,1.000000,5.000000,0.0800,inf,0.888889
64,"(COFFEE, COCK)","(BISCUIT, CORNFLAKES)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000,0.911765
65,(COCK),"(COFFEE, BISCUIT, CORNFLAKES)",0.15,0.10,0.10,0.666667,6.666667,0.0850,2.700000,1.000000

In [19]:
df_ar[(df_ar.support > 0.15) & (df_ar.confidence > 0.5)].sort_values("confidence", ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
8,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000,0.250000
19,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000,0.750000
9,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000,0.035714
13,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
15,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
0,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
10,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
18,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000,0.865385